.mainHeading{
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 20px;
    margin: 35px;
}
.mainContainer{
    width: 400px;
    margin: 100px auto 0px auto;
}

.mainForm{
    background-color: (0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 5px solid #fff;

}
.mainLabel{
    font-size: 25px;
    color: white;
}

body{
    background-image: url(https://my.alfred.edu/zoom/_images/foster-lake.jpg);
}

.formBox{
    margin: 40px;
}
.mainInput{
    width: 300px;
}
.mainButton{
    width: 200px;
    margin: 20px 0px 0px 50px;
    border-radius: 20px;
    color: black;
    padding: 7px;
    font-size: 20px;
}
.valueHandle{
    color: red;
    font-size: 20px;
}
.ErroeMessage{
    color: red;
    font-size: medium;
}
.PassMessage{
    color: rgb(0, 68, 255);
    font-size: 26px;
    width: 100px;
    margin: auto;
    padding: 55px;
}
.FailMessage{
    color: rgb(255, 0, 0);
    font-size: 25px;
    width: 100px;
    margin: auto;
    padding: 55px;
}